body {
  background: purple;
  background: -webkit-linear-gradient(left, red , yellow);
}

.title {
  color: black;
  text-align: center;
  text-decoration: underline;
  font-size: 27px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
}

.centre {
  text-align: center;
}

.text {
  color: black;
  text-align: center;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
}
